
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<br>
<div class="container">

  <div class="row">
<div class="col-12">

  <table class="table table-hover table-bordered table-sm table-primary">
    <thead>
      <tr>
        <th scope="col" >Id</th>
      <th scope="col" class="align-middle">Title</th>
      <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <th>{{dato.id}}</th>
        <th>{{dato.title}}</th>
        <th>{{dato.body}}</th>
        
      </tr>
    </tbody>
  </table>

</div>
  </div>
</div>

